body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.login-container img {
    margin-top: 10px;
    width: 100px;
    height: 110px;
    /* margin-bottom: 25px; */
    border-radius: 8px;
}


.logo {
    width: 80px;
    margin-bottom: 20px;
    
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.login-btn {
    background-color: #18d9f2;
    color: white;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #145ddb;
}

.create-btn {
    margin-top: 15px;
    background-color: #4ee92f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.create-btn:hover {
    background-color: #36a420;
}